.tab-content > ul {
  display: none !important; }

.tab-content .bx-wrapper {
  position: relative; }
  @media only screen and (min-width: 1200px) {
    .tab-content .bx-wrapper {
      margin: 0 -30px !important;
      float: left;
      clear: both; } }

.tab-content .bx-wrapper .bx-viewport {
  position: relative; }
  @media only screen and (min-width: 1200px) {
    .tab-content .bx-wrapper .bx-viewport {
      margin-bottom: -400px;
      padding: 0 30px; }
      .tab-content .bx-wrapper .bx-viewport > ul > li {
        padding-bottom: 400px !important; } }

@media only screen and (min-width: 1200px) {
  .tab-content .bx-wrapper:before {
    content: " ";
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: #fff;
    z-index: 2; }

  .tab-content .bx-wrapper:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 30px;
    height: 100%;
    background: #fff;
    z-index: 2; } }
#homepage-carousel {
  margin: 0;
  overflow: hidden; }

#homepage-carousel li {
  padding-left: 0 !important;
  padding-right: 0 !important;
  clear: none !important; }

.tab-content .bx-controls a {
  background: #fff; }

.tab-content .bx-controls a:before {
  font-family: 'FontAwesome'; }

.tab-content .bx-pager .bx-pager-item {
  float: left;
  text-align: center;
  margin-right: 3px; }

.tab-content .bx-pager .bx-pager-item a {
  display: block;
  width: 20px;
  height: 20px; }

.tab-content .bx-controls-auto .bx-controls-auto-item {
  float: left;
  margin-right: 3px;
  text-align: center; }

.tab-content .bx-controls-auto .bx-controls-auto-item a {
  display: block;
  width: 20px;
  height: 20px; }

.tab-content .bx-controls-auto .bx-controls-auto-item a.bx-start:before {
  content: '\f04b'; }

.tab-content .bx-controls-auto .bx-controls-auto-item a.bx-stop:before {
  content: '\f04c'; }

.tab-content .bx-controls-direction {
  float: left;
  overflow: hidden; }

.tab-content .bx-controls-direction a {
  display: block;
  position: absolute;
  top: 50%;
  z-index: 3;
  color: #888;
  font-size: 24px;
  font-weight: normal;
  margin-top: -6px;
  background: none; }
  .tab-content .bx-controls-direction a:hover {
    color: #23b55c; }

.tab-content .bx-controls-direction a.bx-prev {
  left: 10px; }
  @media only screen and (min-width: 1200px) {
    .tab-content .bx-controls-direction a.bx-prev {
      left: -7px; } }

.tab-content .bx-controls-direction a.bx-prev:before {
  content: '\f104'; }

.tab-content .bx-controls-direction a.bx-next {
  right: 10px; }
  @media only screen and (min-width: 1200px) {
    .tab-content .bx-controls-direction a.bx-next {
      right: -7px; } }

.tab-content .bx-controls-direction a.bx-next:before {
  content: '\f105'; }

.bottom_content {
  position: relative;
  z-index: 1;
}
